/*******************
  Part 1 Project CSS 
   Author: Priya Silwal
   Date: 19/05/2025
*******************/

/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Heading */
h1 {
    color: #333;
}

/* Button */
button {
    background-color: #007bff;
    font-size: 20px;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


